* {
    font-family: Arial, Helvetica, sans-serif;
}

.home-form {
    width: 100%;
    height: 100%;
}

.home-form > form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    border: black 1px solid;
    border-radius: 2px;
    margin: auto;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
}

.home-form > form > * > * > * > h1 {
    color: rgb(206, 211, 212);
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
}

.home-form > form > * > * > * > td {
    width: 50%;
    padding: 3px;
}

.home-form > form > * > * > * > * > label {
    color: rgb(206, 211, 212);
    font-size: 18px;
}

button {
    padding: 10px 25px;
    border-radius: 4px;
}